<div>
  <div class="demo-component withMargin">
    <product-section-signals></product-section-signals>
  </div>
<!--  <div class="demo-component withMargin">-->
<!--    <product-section-rxjs></product-section-rxjs>-->
<!--  </div>-->


  <div class="demo-component withMargin">
    <interaction-parent-child></interaction-parent-child>
  </div>

  <div class="demo-component withMargin">
    <form-demo></form-demo>
  </div>

  <div class="demo-component withMargin">
    <dom-demo></dom-demo>
  </div>



</div>


<router-outlet />
